{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <!--Register form-->
    <section class="container">
        <div class="row">
            <div class="col">
                <h1>Inscription</h1>
                    {{ form_errors(registrationForm) }}

                    {{ form_start(registrationForm) }}
                        <fieldset class="mb-3">
                            <!--Identity-->
                            <legend>Mon identité</legend>
                        {{ form_row(registrationForm.lastname) }}                               
                        {{ form_row(registrationForm.firstname) }}                               
                        {{ form_row(registrationForm.email) }}  
                        {{ form_row(registrationForm.tel) }}                            
                        </fieldset>
                        <fieldset class="mb-3">
                            <!--Coordonnates-->
                            <legend>Mes coordonnées</legend>
                        {{ form_row(registrationForm.address) }}                               
                        {{ form_row(registrationForm.zipcode) }}  
                        {{ form_row(registrationForm.city) }}   
                        </fieldset>
                            <!--Password-->
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Mot de passe'
                        }) }}
                        <!--class RGPD for space between label and checkbox in style.css-->
                        {{ form_row(registrationForm.rgpdConsent, {
                            attr : {'class' : 'RGPD'} 
                        }) }}
                        <!--Submit button-->
                        <button type="submit" class="btn btn-primary btn-lg my-3">S'inscrire</button>
                    {{ form_end(registrationForm) }}
                <!--Connexion link-->
                <a href="{{ path('app_login') }}" class="btn btn-secondary">Se connecter</a>
            </div>
        </div>
    </section>
    
{% endblock %}
