{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
<div id="successMessage"></div>
<div id="errorMessage"></div>
    <h1>Liste des utilisateurs</h1>
    {# Tableau affichant les users #}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                {# <th>Roles</th> #} <!--Probleme conversion string array lors de l'edit de l'user-->
                {# <th>Mot de passe</th> #} <!--Affichage plus clean-->
                <th>Nom</th>
                <th>Prenom</th>
                <th>Tel</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <!--Pour chaque users on affiche les informations disponibles en bdd-->
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                {# <td>{{ user.roles ? user.roles|json_encode : '' }}</td> #}
                {# <td>{{ user.password }}</td> #}
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.tel }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.zipcode }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <!--Link to display and edit users profils-->
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">Voir</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>

                    <!--Delete button with call ajax-->
                    <button class="deleteBtn btn btn-danger" id="delete{{ user.id }}" data-csrf-token="{{ csrf_token('delete' ~ user.id) }}">
                            Supprimer
                    </button>
                </td>
            </tr>
        <!--If empty-->
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!--Create a new user-->
    <a href="{{ path('app_user_new') }}">Créer un utilisateur</a>

<!--JS link-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--Delete a user call ajax on click-->
<script>
$(document).ready(function() {
    $('.deleteBtn').click(function(e) {
        e.preventDefault();
        /*Declare userId and csrfToken in two variables*/
        var userId = this.id.replace('delete', ''); /*Delete the id and replace it with empty*/
        var csrfToken = $(this).data('csrf-token'); /*Get the csrf token*/

        /*Confirmation popup*/
        if (confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')) {
            $.ajax({
                url: '/user/' + userId, /*url path (user controller)*/
                type: 'POST',
                data: {
                    '_token': csrfToken,
                },
                success: function(response) {
                    if (response.success) {
                        alert("Utilisateur supprimé avec succès"); /*If success display a pop up*/
                        $('#delete' + userId).closest('tr').remove();
                    } else {
                        alert("La suppression a échoué"); /*If fail display a pop up*/
                    }
                },
                error: function() {
                    alert("Une erreur s'est produite"); /*If error display a pop up*/
                }
            });
        }
    });
});
</script>
{% endblock %}